.email {
  display: inline-block;
  margin-top: 2px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 5px;
}
textarea {
  max-width: 100%;
  min-height: 150px;
}
select {
  height: 34px;
  border: none;
  width: 100%;
  border: 1px solid #cccccc;
}
